/*reset everything from =>http://html5doctor.com/html-5-reset-stylesheet/*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}





















/*my Code =====================>*/
body {
	background-color: #454545;
}

a {
	text-decoration: none;
}




/*Header bar styling*/
.header-bar {
	margin: 0 auto;
	width: 1850px;
}

header nav {
	width: 100%;
	height: 60px;
	background-color: coral;
}

header nav ul {
	float: left;
}

header nav ul li {
	float: left;
	list-style: none;
}

header nav ul li a {
	font-family: 'Times New Roman';
	font-size: 18px;
	color: black;
	line-height: 63px;
}

header nav ul li a:hover {
	color: #ccc;
}

header .login-div {
	float: right;
}

header .login-div form {
	float: left;
	padding-top: 15px;
}

header .login-div form input {
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	border-radius: 23px;
	text-align: center;
	background-color: whitesmoke;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: #111;
	line-height: 30px;
}

header .login-div form button {
	float: left;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	border: none;
	border-radius: 23px;
	background-color: coral;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: black;
	line-height: 30px;
	cursor: pointer;
}

header .login-div form button:hover {
	color: #ccc;
}

header .login-div a {
	display: block;
	width: 120px;
	height: 60px;

	border: none;
	float: left;
	background-color: coral;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: black;
	line-height: 63px;
	cursor: pointer;
}

header .login-div a:hover {
	color: #ccc;
}

header .login-div .user_a
{
	display: block;
	width: 30px;
	height: 60px;
	margin-top: -15px;
	border: none;
	border-radius: 23px;
	float: left;
	background-color: coral;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: black;
	line-height: 63px;
	cursor: pointer;
}





/*Header for each page*/
.header-container {
	padding-top: 40px;
}

.header-container h2 {
	font-family: 'Times New Roman';;
	text-decoration: overline;
	font-size: 50px;
	color: coral;
	line-height: 50px;
	text-align: center;
}


/*styling for Sign-up*/
.signup-form {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input {
	width: 90%;
	height: 4 0px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	border-radius: 23px;
	background-color: whitesmoke;
	font-family: 'Times New Roman';
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.signup-form button {
	display: block;
	width: 30%;
	height: 30px;
	margin: 0 auto;
	border: none;
	border-radius: 23px;
	background-color: grey;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: whitesmoke;
	line-height: 30px;
	cursor: pointer;
}

.signup-form button:hover {
	background-color: coral;
	color: black;
}



/*user_home.php styling*/
.modify-user
{
	width: 95%;
	height: 35px;
	border: 1px solid black;
	margin-left: 50px;
	margin-top: 20px;
}

.modify-user a
{
	width: 300px;
	height: 100%;
	background-color: coral;
	color: black;
	font-size: 30px;
	float: left;
	border-radius: 23px;
	text-align: center;
	font-family: 'Times New Roman';
}

.modify-user a:hover
{
	background-color: gray;
	color: coral;
	text-decoration: underline;
}



/*change_details.php styling*/
.change-form
{
	width: 400px;
	margin: 0 auto;
	padding-top: 150px;
}

.change-form a
{
	width: 100%;
	height: 35px;
	margin-top: 50px;
	background-color: grey;
	color: black;
	font-size: 30px;
	float: left;
	border: none;
	border-radius: 23px;
	text-align: center;
	font-family: 'Times New Roman';
}

.change-form a:hover
{
	background-color: coral;
	text-decoration: underline;
}



/*change_username.php*/
.user-form
{
	width: 400px;
	margin: 0 auto;
	padding-top: 180px;
}

.user-form input
{
	width: 90%;
	height: 4 0px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	text-align: center;
	border-radius: 23px;
	background-color: whitesmoke;
	font-family: 'Times New Roman';
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.user-form button {
	display: block;
	width: 30%;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	border: none;
	border-radius: 23px;
	background-color: grey;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: whitesmoke;
	line-height: 30px;
	cursor: pointer;
}

.user-form button:hover
{
	background-color: coral;
	color: black;
}




/*verify_account.php styling*/
.verify-div
{
	width: 404px;
	height: 45px;
	margin-left: 750px;
	margin-top: 200px;
}

.verify-div a
{
	width: 500px;
	height: 200px;
	background-color: coral;
	color: black;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-top: 3px; 
	font-size: 40px;
	float: center;
	border-radius: 15px;
	text-align: center;
	font-family: 'Times New Roman';
}

.verify-div a:hover
{
	background-color: gray;
	color: coral;
}

.verify-div p
{
	width: 500px;
	height: 40px;
	background-color: coral;
	padding-top: 5px;
	margin-left: -40px;
	color: black;
	font-size: 30px;
	float: center;
	border-radius: 15px;
	text-align: center;
	font-family: 'Times New Roman';
}



/*forgot_pwd.php styling*/
.forgot-form
{
	width: 400px;
	margin: 0 auto;
	padding-top: 180px;
}

.forgot-form input
{
	width: 90%;
	height: 4 0px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	text-align: center;
	border-radius: 23px;
	background-color: whitesmoke;
	font-family: 'Times New Roman';
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.forgot-form button {
	display: block;
	width: 55%;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	border: none;
	border-radius: 23px;
	background-color: grey;
	font-family: 'Times New Roman';
	font-size: 14px;
	color: whitesmoke;
	line-height: 30px;
	cursor: pointer;
}

.forgot-form button:hover
{
	background-color: coral;
	color: black;
}





/*preferences.php styling*/
.preferences-form
{
	width: 400px;
	margin: 0 auto;
	padding-top: 180px;
}

.preferences-form button
{
	display: block;
	width: 95%;
	height: 40px;
	margin: 0 auto;
	margin-top: 10px;
	border: none;
	border-radius: 23px;
	background-color: grey;
	font-family: 'Times New Roman';
	font-size: 30px;
	color: coral;
	line-height: 30px;
	cursor: pointer;
}

.preferences-form button:hover
{
	background-color: coral;
	color: black;
}



/*webcam.php styling*/
#video
{
	display: block;
	margin-left: 30px;
	transform: scale(-1, 1);
	z-index: 100;
}

#canvas
{
	display: block;
	margin-left: 30px;
	transform: scale(-1, 1);
	z-index: 100;
}

.video-class
{
	width: 700px;
	height: 550px;
	margin-left: 600px;
	margin-top: 50px;
	background-color: coral;
}

.video-class input
{
	width: 200px;
	height: 40px;
	margin-top: 5px;
	border: none;
	background-color: black;
	font-family: 'Times New Roman';
	font-size: 30px;
	color: coral;
	line-height: 30px;
	cursor: pointer;
}

.video-class input:hover
{
	background-color: coral;
	color: black;
}

.img-cig
{
	width: 250px;
	position: absolute;
	z-index: 101;
	margin-left: 125px;
	margin-top: 240px;
	display: none;
}

.img-hat
{
	width: 160px;
	position: absolute;
	z-index: 101;
	margin-left: 225px;
	margin-top: 0px;
	display: none;
}

.img-glasses
{
	width: 180px;
	position: absolute;
	z-index: 101;
	margin-left: 225px;
	margin-top: 200px;
	display: none;
}

.webcam-error
{
	margin-top: 150px;
	background-color: #454545;
	color: coral;
	text-align: center;
	font-family: 'Times New Roman';
	font-size: 30px;
	text-decoration: underline;
}

.overlay-imgs
{
	width: 50%;
	height: 200px;
	background-color: coral;
	margin-left: 476.25px;
	margin-top: 20px;
}

.overlay-imgs img
{
	width: 150px;
	margin-left: 125px;
}


.overlay-imgs h1
{
	text-align: center;
	font-size: 35px;
	font-family: 'Times New Roman';
	text-decoration: overline;
	padding-top: 5px;
}

.overlay-imgs button
{
	background-color: coral;
	border: none;
}

.previous-imgs
{
	width: 200px;
	background-color: coral;
	float: right;
	margin-right: 300px;
	margin-top: -500px;
	margin-bottom: 30px;
}

.previous-imgs img
{
	width: 150px;
	height: 150px;
	margin-left: 25px;
	margin-top: 15px;
}

.previous-imgs h1
{
	text-align: center;
	font-size: 35px;
	font-family: 'Times New Roman';
	text-decoration: overline;
	padding-top: 5px;
}








/*upload.php styling*/
.upload-form
{
	width: 700px;
	height: 550px;
	background-color: coral;
	margin-left: 600px;
	margin-top: 50px;
	font-family: 'Times New Roman';
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	color: #454545;
}

.upload-form input
{
	width: 200px;
	text-decoration: none;
	border: none;
	display: block;
	background-color: coral;
	color: black;
	cursor: pointer;
	font-family: 'Times New Roman';
	font-size: 18px;
	margin-left: 225px;
	margin-top: 150px;
}

.upload-form input:hover
{
	background-color: grey;
	color: coral;
}

.upload-img
{
	width: 450px;
	height: 450px;
	border: none;
	display: block;
	margin-left: 125px;
	margin-top: 20px;
	z-index: 100;
}


.upload-cig
{
	width: 250px;
	margin-left: 125px;
	margin-top: 240px;
	position: absolute;
	z-index: 101;
}

.upload-hat
{
	width: 160px;
	margin-left: 225px;
	margin-top: 0px;
	position: absolute;
	z-index: 101;
}

.upload-glasses
{
	width: 180px;
	margin-left: 225px;
	margin-top: 200px;
	position: absolute;
	z-index: 101;
}


/*index.php styling*/
.gallery-img
{
	width: 450px;
	height: 450px;
	margin-left: 725px;
	margin-top: 20px;
	border: none;
}

.gallery-h1
{
	font-family: 'Times New Roman';;
	text-decoration: overline;
	font-size: 30px;
	color: coral;
	margin-top: 50px;
	text-align: center;
}

.gallery-date
{
	color: coral;
	margin-top: 5px;
	margin-left: 1200px;
	font-size: 20px;
}

.gallery-hr
{
	background-color: coral;
	border-color: coral;
	width: 90%;
	margin-left: 100px;
}

.gallery-upvote
{
	float: right;
	width: 60px;
	height: 60px;
	margin-top: -300px;
	margin-right: 600px;
}


/*view_img.php styling*/
.comment-form
{
	background-color: coral;
	width: 900px;
	height: 125px;
	margin-left: 500px;
	margin-top: 10px;
}

.comment-form input
{
	width: 200px;
	text-decoration: none;
	border: none;
	display: block;
	background-color: coral;
	color: black;
	cursor: pointer;
	font-family: 'Times New Roman';
	font-size: 18px;
	margin-left: 350px;
	margin-top: 25px;
}

.comment-form input:hover
{
	background-color: #454545;
	color: coral;
}

.comment-form textarea
{
	margin-left: 60px;
	margin-top: 10px;
	font-family: 'Times New Roman';
	font-size: 18px;
	width: 771px;
	height: 50px;
	border: none;
	background-color: whitesmoke;
}

.comment-layout
{
	background-color: gray;
	width: 900px;
	margin-left: 500px;
	margin-top: 20px;
}

.comment-layout h1
{
	padding-top: 15px;
	padding-left: 25px;
	text-decoration: overline;
	font-size: 20px;
	font-family: 'Times New Roman';
	color: coral;
}

.comment-layout p
{
	padding-top: 5px;
	padding-left: 25px;
	font-family: 'Times New Roman';
	padding-bottom: 10px;
}




/*footer.php styling*/
.footer-hr
{
	background-color: black;
	border: none;
	width: 100%;
	height: 5px;
	margin-top: 200px;
}

.footer-bq
{
	text-align: right;
	font-style: italic;
	color: coral;
	text-decoration: underline;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-right: 20px;
	font-size: 20px;
	text-decoration-color: black;
}




/*user_img.php styling*/
.user-img
{
	width: 500px;
	height: 500px;
	margin-left: 400px;
	margin-top: 20px;
	border: none;
}

.delete-button
{
	font-size: 30px;
	color: coral;
	margin-left: 50px;
}

.delete-button:hover
{
	background-color: coral;
	color: #454545;
	padding: 3px 3px 3px 3px;
}